
.row{
  margin-bottom: 100px;
}

.demo-card-wide{
  margin-top: -60px;
  padding: 0px;
  margin-bottom: 100px;
  width: 100%;
  margin-bottom: 40px;
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  height: 400px;
  padding: 0px;
}

.weLoveKatya{
  background: url('../Photos/weLoveKatya.jpg') center / cover;
}

.avaliacaoPresidencial{
  background: url('../Photos/avaliacaoPresidencial.png') center / cover;
}

.planosDeGoverno{
  background: url('../Photos/planosDeGoverno.png') center / cover;
}

.PGradients{
  background: url('../Photos/PGradients.jpg') center / cover;
}

.Emojify{
  background: url('../Photos/Emojify-big.png') center / cover;
}

.NDH{
  background: url('../Photos/NDH.jpg') center / cover;
}

.tioPatinhas{
  background: url('../Photos/tioPatinhas.png') center / cover;
}

.wifiPelotas{
  background: url('../Photos/wifiPelotas.PNG') center / cover;
}


.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-card__title-text{
  text-shadow: 0px 1px 15px rgba(0, 0, 0, 1);
}

.mdl-card__supporting-text{
  color: #777;
  font-size: 14px;
}

.mdl-card__supporting-text h2{
  color: #777;
  font-weight: bold;
  font-size: 18px;
}

a.back{
  color: #edd07d;
}

@media screen and (max-width: 991px){
  .mdl-card__title-text{
    font-size: 3em;
  }

  .mdl-card__supporting-text{
    font-size: 1.5em;
    line-height: 35px;
  }

  .mdl-button{
    font-size: 1.4em;
  }

  .mdl-card__supporting-text h2{
    font-size: 1.2em;
  }

  .mdl-card__supporting-text li{
    font-size: 1.5em;
    line-height: 33px;
  }

  .mdl-button{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.7em;
  }

  a.back{
    font-size: 1.5em;
  }

}
