.nav {
  margin-bottom: 0px; 
}
.demo-card-wide{
  margin-top: 50px;
  padding: 0px;
  margin-bottom: 100px;
  width: 100%;
  margin-bottom: 40px;
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 400px;
  padding: 0px;
}

.weLoveKatya{
  background: url('../Photos/weLoveKatya.jpg') center / cover;
}

.avaliacaoPresidencial{
  background: url('../Photos/avaliacaoPresidencial.png') center / cover;
}

.planosDeGoverno{
  background: url('../Photos/planosDeGoverno.png') center / cover;
}

.PGradients{
  background: url('../Photos/PGradients.jpg') center / cover;
}

.Emojify{
  background: url('../Photos/Emojify-big.png') center / cover;
}

.NDH{
  background: url('../Photos/NDH.jpg') center / cover;
}

.tioPatinhas{
  background: url('../Photos/tioPatinhas.png') center / cover;
}

.wifiPelotas{
  background: url('../Photos/wifiPelotas.PNG') center / cover;
}

.distritosNaoDitos{
  background: url('../Photos/distritosNaoDitos.png') center / cover;
}

.lyricsExplorationLorde{
  background: url('../Photos/lyricsExplorationLorde.png') center / cover;
}

.anp{
  background: url('../Photos/anp.jpg') center / cover;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-card__title-text{
  text-shadow: 0px 1px 15px rgba(0, 0, 0, 1);
  padding-bottom: 20px;
}

.mdl-card__supporting-text{
  color: #777;
  font-size: 1.8rem !important;
  line-height: 2.7rem !important;
}

.mdl-card__supporting-text h2{
  font-size: 1.2em;
  color: #777;
}

a.back{
  color: #5f4938;
  min-width: 90px;
  display: inline-block;
  margin: 0px 0px 50px 10px;
}



@media screen and (max-width: 991px){
  .row{
    margin-bottom: 10px;
  }
  .nav {
    margin-bottom: 50px;
  }
  .nav .row a {
      font-size: 2rem;
      text-align: center;
  }
  h1.portfolio-title {
      min-width: 0px;
  }
  .demo-card-wide.mdl-card {
    width: 90%;
    margin: 0 5%;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 250px;
    padding: 0px;
  }  
  .mdl-card__title-text {
    font-size: 3rem;
    padding: 30px 20px 20px 30px;
    width: 100%;
  }
  .mdl-card__supporting-text {
      font-size: 2rem;
      line-height: 3rem;
  }
  .mdl-button {
      font-size: 2rem;
  }
  .mdl-card__actions.mdl-card--border{
      padding: 10px 10px;
  }

  .mdl-button{
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 2rem;
  }

  .mdl-card__supporting-text h2{
    color: #777;
    font-weight: bold;
    font-size: 2.3rem;
  }
  
  .mdl-card__supporting-text li{
    color: #777;
    font-size: 2rem;
    line-height: 3.1rem;
  }

  a.back{
    font-size: 2rem;
    display: inline-block;
    margin: 30px;
  }

}
