body {
    background-color: #bda462;
}

.nav {
    margin-top: 30px;
    margin-bottom: 100px
}

.nav .row a {
    color: #5f4938;
    min-width: 90px
}

.photo img {
    margin-left: 15%;
    width: 70%;
    border: 4px #5f4938 solid;
    border-radius: 100%;
    box-shadow: 0 0 0 10px #bda462, 0 0 0 11px #5f4938;
    margin-bottom: 60px
}

h1 {
    margin-top: -10px;
    min-width: 540px;
    color: #e7e8e3;
    font-size: 50px
}

h2 {
    color: #e7e8e3;
}

p.description.information.col-xs-12 {
    padding-left: 0;
    padding-right: 0
}

p {
    font-size: 16px;
    color: #e7e8e3;
}

.color {
    color: #5f4938;
    font-weight: bold
}

a.color:hover {
    color: #5f4938;
}

.information {
    margin-left: -10%;
}

.footer {
    margin-bottom: 100px;
}

.portfolio-title {
    margin-top: -60px;
    margin-bottom: 60px;
    text-align: center
}

.demo-card-square.mdl-card {
    margin-bottom: 50px;
    width: 30%;
    height: 250px;
    padding: 0
}

.mdl-card__title-text {
    text-shadow: 0 1px 15px rgba(0, 0, 0, 1);
    background: linear-gradient(0deg, #333, transparent 100%);
    padding-left: 20px;
    padding-top: 30px;
    width: 100%
}

.mdl-card--expand {
    padding: 0
}

.mdl-card__supporting-text {
    color: #555;
    font-size: 12px
}

.demo-card-square > .mdl-card__title {
    color: #fff
}

.avaliacaoPresidencial > .mdl-card__title {
    background: url('../Photos/avaliacaoPresidencial.png') no-repeat center / cover #46B6AC
}

.planosDeGoverno > .mdl-card__title {
    background: url('../Photos/planosDeGoverno.png') no-repeat center / cover #46B6AC
}

.weLoveKatya > .mdl-card__title {
    background: url('../Photos/weLoveKatya.jpg') no-repeat center / cover #46B6AC
}

.PGradients > .mdl-card__title {
    background: url('../Photos/PGradients.jpg') no-repeat center / cover #46B6AC
}

.Emojify > .mdl-card__title {
    background: url('../Photos/Emojify.jpg') no-repeat center / cover #46B6AC
}

.NDH > .mdl-card__title {
    background: url('../Photos/NDH.jpg') no-repeat center / cover #46B6AC
}

.PET > .mdl-card__title {
    background: url('../Photos/PET.png') no-repeat center / cover #46B6AC
}

.tioPatinhas > .mdl-card__title {
    background: url('../Photos/tioPatinhas.png') no-repeat center / cover #46B6AC
}

.wifiPelotas > .mdl-card__title {
    background: url('../Photos/wifiPelotas.PNG') no-repeat center / cover #46B6AC
}

.distritosNaoDitos .mdl-card__title{
  background: url('../Photos/distritosNaoDitos.png') no-repeat center / cover #46B6AC
}

.lyricsExplorationLorde .mdl-card__title{
  background: url('../Photos/lyricsExplorationLorde.png') no-repeat center / cover #46B6AC
}

.anp .mdl-card__title{
  background: url('../Photos/anp.jpg') no-repeat center / cover #46B6AC
}

.middle {
    margin-left: 5%;
    margin-right: 5%
}

@media screen and (max-width: 991px) {
    .mdl-card__title-text {
        font-size: 2em;
        background: linear-gradient(0deg, #333, transparent 100%);
        padding-left: 20px;
        padding-top: 30px;
        width: 100%
    }
    .mdl-card__supporting-text {
        font-size: 1.3em;
        line-height: 28px
    }
    .mdl-button {
        font-size: 1.4em
    }
    .portfolio-title {
        font-size: 6em
    }
    h1 {
        margin-bottom: 50px
    }
    p.description.information {
        font-size: 2.2em;
        line-height: 1.3em
    }
    .information {
        margin-left: 0;
        text-align: center
    }
    h2.information {
        font-size: 2.7em
    }
    br {
        display: block;
        margin-top: 40px;
        line-height: 40px
    }
    h2.information,
    p.information {
        text-align: left;
        padding-left: 0
    }
    .demo-card-square.mdl-card {
        width: 100%
    }
    .middle {
        margin-left: 0;
        margin-right: 0
    }
    .nav {
        text-align: center;
        font-size: 2.3em
    }
    .btn {
        margin-top: 10px;
        font-size: 1.7em;
        width: auto
    }
}
