body {
    background-color: #bda462;
}

.nav {
    margin-top: 30px;
    margin-bottom: 100px;
}

.nav .row a {
    color: #5f4938;
    min-width: 90px;
}

.photo img {
    margin-left: 15%;
    width: 70%;
    border: 4px #5f4938 solid;
    border-radius: 100%;
    box-shadow: 0 0 0 10px #bda462, 0 0 0 11px #5f4938;
    margin-bottom: 60px;
}

h1 {
    margin-top: -10px;
    min-width: 540px;
    color: #f2f3f0;
    font-size: 50px
}

h2 {
    color: #f2f3f0;
}

p.description.information.col-xs-12 {
    padding-left: 0;
    padding-right: 0
}

p {
    font-size: 16px;
    color: #f2f3f0;
}

.color {
    color: #5f4938;
    font-weight: bold
}

a.color:hover {
    color: #5f4938;
}

.information {
    margin-left: -10%;
}

.social-media {
    margin-bottom: 100px;
}

.social-media img {
    margin: 0px 10px;
}

.social-media img.github-logo {
    width: 53px;
}

.social-media img.linkedin-logo {
    width: 60px;
}

.portfolio-title {
    margin-top: -60px;
    margin-bottom: 60px;
    text-align: center
}

.demo-card-square.mdl-card {
    margin-bottom: 50px;
    width: 30%;
    height: 250px;
    padding: 0
}

.mdl-card__title-text {
    text-shadow: 0 1px 15px rgba(0, 0, 0, 1);
    background: linear-gradient(0deg, #333, transparent 100%);
    padding-left: 20px;
    padding-top: 30px;
    width: 100%
}

.mdl-card--expand {
    padding: 0
}

.mdl-card__supporting-text {
    color: #555;
    font-size: 12px
}

.demo-card-square > .mdl-card__title {
    color: #fff
}

.avaliacaoPresidencial > .mdl-card__title {
    background: url('../Photos/avaliacaoPresidencial.png') no-repeat center / cover #5f4938;
}

.planosDeGoverno > .mdl-card__title {
    background: url('../Photos/planosDeGoverno.png') no-repeat center / cover #5f4938;
}

.weLoveKatya > .mdl-card__title {
    background: url('../Photos/weLoveKatya.jpg') no-repeat center / cover #5f4938;
}

.PGradients > .mdl-card__title {
    background: url('../Photos/PGradients.jpg') no-repeat center / cover #5f4938;
}

.Emojify > .mdl-card__title {
    background: url('../Photos/Emojify.jpg') no-repeat center / cover #5f4938;
}

.NDH > .mdl-card__title {
    background: url('../Photos/NDH.jpg') no-repeat center / cover #5f4938;
}

.PET > .mdl-card__title {
    background: url('../Photos/PET.png') no-repeat center / cover #5f4938;
}

.tioPatinhas > .mdl-card__title {
    background: url('../Photos/tioPatinhas.png') no-repeat center / cover #5f4938;
}

.wifiPelotas > .mdl-card__title {
    background: url('../Photos/wifiPelotas.PNG') no-repeat center / cover #5f4938;
}

.distritosNaoDitos .mdl-card__title{
  background: url('../Photos/distritosNaoDitos.png') no-repeat center / cover #5f4938;
}

.lyricsExplorationLorde .mdl-card__title{
  background: url('../Photos/lyricsExplorationLorde.png') no-repeat center / cover #5f4938;
}

.anp .mdl-card__title{
  background: url('../Photos/anp.jpg') no-repeat center / cover #5f4938;
}

.middle {
    margin-left: 5%;
    margin-right: 5%;
}

@media screen and (max-width: 991px) {
    .nav {
        margin-bottom: 50px;
    }
    .nav .row a {
        font-size: 2rem;
        text-align: center;
    }
    .demo-card-square.mdl-card {
        height: 600px;
    }
    .mdl-card__title-text {
        font-size: 4rem;
        padding: 30px 20px 20px 30px;
        width: 100%;
    }
    .mdl-card__supporting-text {
        font-size: 2.8rem;
        line-height: 3.7rem;
    }
    .mdl-button {
        font-size: 2.8rem;
    }
    .mdl-card__actions.mdl-card--border{
        padding: 20px 10px;
    }
    .portfolio-title {
        font-size: 6rem;
    }
    .name {
        text-align: center;
    }
    .information {
        text-align: center;
        margin: 30px 0 10px 0;
    }
    h1.information {
        font-size: 2rem;
        min-width: 0px;
    }

    h2.information {
        font-size: 2rem;
        margin-top: 10px;
    }
    p.description.information {
        font-size: 1.6rem;
        line-height: inherit;
        margin-top: 10px;
    }
    br {
        display: block;
        margin-top: 0px;
        line-height: 40px;
    }
    h2.information,
    p.information {
        text-align: left;
        padding-left: 0;
    }
    .photo {
        text-align: center;
    }
    .photo img {
        width: 50%;
        margin: 0px auto;
    }
    .demo-card-square.mdl-card {
        width: 100%;
    }
    .middle {
        margin-left: 0;
        margin-right: 0;
    }
    .nav {
        text-align: center;
        font-size: 2.3rem;
    }
    .btn {
        margin-top: 10px;
        font-size: 1.5rem;
        width: 40%;
        padding: 10px 0px;
    }
    .social-media {
        margin-top: 40px;
        text-align: center;
    }

    .social-media img {
       margin: 0 10px;
    }
    
    .social-media img.github-logo {
        width: 55px;
    }
    
    .social-media img.linkedin-logo {
        width: 63px;
    }

}
