body{
  background-color: #009acd;
}

.nav{
  margin-top: 30px;
  margin-bottom: 100px;
}

.nav .row a{
  color: #edd07d;
  min-width: 90px;
}

.photo img{
  margin-left: 15%;
  width: 70%;
  border: 4px #fff solid;
  border-radius: 100%;
  box-shadow: 0px 0px 0px 10px #009ACD,
              0px 0px 0px 11px #FAD379;
  margin-bottom: 60px;
}

h1{
  margin-top: -10px;
  min-width: 540px;
  color: white;
  font-size: 50px;
}

h2{
  color: white;
}

p.description.information.col-xs-12{
  padding-left: 0px;
  padding-right: 0px;
}
p{
  font-size: 16px;
  color: white;

}

.color{
  color: #edd07d;
  font-weight: bold;
}

a.color:hover{
  color: #edd07d;
}
.information{
  margin-left: -10%;
}

.footer{
  margin-bottom: 100px;
}




/* ----- */

.portfolio-title{
  margin-top: -60px;
  margin-bottom: 60px;
  text-align: center;
}

.demo-card-square.mdl-card {
  margin-bottom: 50px;
  width: 30%;
  height: 250px;
  padding: 0px;
}

.mdl-card__title-text{
  text-shadow: 0px 1px 15px rgba(0, 0, 0, 1);
}

.mdl-card__supporting-text{
  color: #555;
  font-size: 12px;
}

.demo-card-square > .mdl-card__title {
  color: #fff;
}

.weLoveKatya > .mdl-card__title{
  background:
    url('Photos/weLoveKatya.jpg') no-repeat center / cover #46B6AC;
}

.PGradients > .mdl-card__title{
  background:
    url('Photos/PGradients.jpg') no-repeat center / cover #46B6AC;
}

.Emojify > .mdl-card__title{
  background:
    url('Photos/Emojify.jpg') no-repeat center / cover #46B6AC;
}

.NDH > .mdl-card__title{
  background:
    url('Photos/NDH.jpg') no-repeat center / cover #46B6AC;
}

.PET > .mdl-card__title{
  background:
    url('Photos/PET.png') no-repeat center / cover #46B6AC;
}

.tioPatinhas > .mdl-card__title{
  background:
    url('Photos/tioPatinhas.png') no-repeat center / cover #46B6AC;
}

.wifiPelotas > .mdl-card__title{
  background:
    url('Photos/wifiPelotas.PNG') no-repeat center / cover #46B6AC;
}

.middle{
  margin-left: 5%;
  margin-right: 5%;
}


@media screen and (max-width: 991px){
  .mdl-card__title-text{
    font-size: 2em;
  }

  .mdl-card__supporting-text{
    font-size: 1.3em;
    line-height: 28px;
  }

  .mdl-button{
    font-size: 1.4em;
  }

  .portfolio-title{
    font-size: 6em;
  }

    h1{
      margin-bottom: 50px;
    }

    p.description.information{
      font-size: 2.2em;
      line-height: 1.3em;
    }
    .information{
      margin-left: 0;
      text-align: center;
    }

    h2.information{
      font-size: 2.7em;
    }

    br{
      display: block;
      margin-top: 40px;
      line-height: 40px;

    }

    p.information, h2.information{
      text-align: left;
      padding-left: 0;
    }

    .demo-card-square.mdl-card{
      width: 100%;
    }

    .middle{
      margin-left: 0;
      margin-right: 0;
    }

    .nav{
      text-align: center;
      font-size: 2.3em;
    }

    .btn{
      margin-top: 10px;
      font-size: 1.7em;
      width: auto;
    }

}
